In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [57]:
quiz = pd.read_csv('taelor style quiz analysis.csv')
quiz.head(3)

,name,age,subscribe_date,acquisition source,newstyle,color,brands,occasions,occupation,subscribe for yourself,motivation,call
0,Mike,35,2022/5/4,Others,Yes!,Metallic / Purple,J. Crew / Brooks Brothers / Uniqlo / Ted Baker...,Everyday Casual / Date night/Night out,Marketing,Yes,I want to save money / I need more variety in ...,No
1,Ronald P. Taylor,47,2022/5/5,"Search engine (Google, Yahoo, etc.)","No,",Pink / Purple / Yellow / Orange,J. Crew,Everyday Casual / Date night/Night out,Print manager / IT technical Support,Yes,I want to save money / I need personal stylist...,Yes
2,Daniel Grance,42,2022/5/6,"Search engine (Google, Yahoo, etc.)",Yes!,Cream / Yellow / Red,LuluLemon / Vans / Vince / Theory / Hugo Boss ...,Everyday Casual / Date night/Night out / Work ...,Financial Advisor,Yes,I need personal stylist advice / I need more v...,Yes

In [71]:
# quiz['subscribe for yourself']
quiz.newstyle.unique()

array(['Yes!', 'No,'], dtype=object)

In [72]:
quiz.columns

Index(['name', 'age', 'subscribe_date', 'acquisition source', 'newstyle',
       'color', 'brands', 'occasions', 'occupation', 'subscribe for yourself',
       'motivation', 'call'],
      dtype='object')

In [10]:
subscribe_yourself = {'Yes':1,'No':0}
quiz['subscribe for yourself'] = quiz['subscribe for yourself'].map(subscribe_yourself)

In [11]:
quiz.iloc[:3,:]

,name,age,subscribe_date,acquisition source,newstyle,color,brands,occasions,occupation,subscribe for yourself,motivation,call
0,Mike,35,2022/5/4,Others,Yes!,Metallic / Purple,J. Crew / Brooks Brothers / Uniqlo / Ted Baker...,Everyday Casual / Date night/Night out,Marketing,1,I want to save money / I need more variety in ...,No
1,Ronald P. Taylor,47,2022/5/5,"Search engine (Google, Yahoo, etc.)","No,",Pink / Purple / Yellow / Orange,J. Crew,Everyday Casual / Date night/Night out,Print manager / IT technical Support,1,I want to save money / I need personal stylist...,Yes
2,Daniel Grance,42,2022/5/6,"Search engine (Google, Yahoo, etc.)",Yes!,Cream / Yellow / Red,LuluLemon / Vans / Vince / Theory / Hugo Boss ...,Everyday Casual / Date night/Night out / Work ...,Financial Advisor,1,I need personal stylist advice / I need more v...,Yes

In [12]:
call = {'Yes':1,'No':0}
quiz.call = quiz.call.map(call)

In [13]:
quiz.iloc[:3,:]

,name,age,subscribe_date,acquisition source,newstyle,color,brands,occasions,occupation,subscribe for yourself,motivation,call
0,Mike,35,2022/5/4,Others,Yes!,Metallic / Purple,J. Crew / Brooks Brothers / Uniqlo / Ted Baker...,Everyday Casual / Date night/Night out,Marketing,1,I want to save money / I need more variety in ...,0
1,Ronald P. Taylor,47,2022/5/5,"Search engine (Google, Yahoo, etc.)","No,",Pink / Purple / Yellow / Orange,J. Crew,Everyday Casual / Date night/Night out,Print manager / IT technical Support,1,I want to save money / I need personal stylist...,1
2,Daniel Grance,42,2022/5/6,"Search engine (Google, Yahoo, etc.)",Yes!,Cream / Yellow / Red,LuluLemon / Vans / Vince / Theory / Hugo Boss ...,Everyday Casual / Date night/Night out / Work ...,Financial Advisor,1,I need personal stylist advice / I need more v...,1

In [14]:
quiz.newstyle = quiz.newstyle.map(dict(zip(['Yes!', 'No,'],[1,0])))
quiz.iloc[:3,:]

,name,age,subscribe_date,acquisition source,newstyle,color,brands,occasions,occupation,subscribe for yourself,motivation,call
0,Mike,35,2022/5/4,Others,1,Metallic / Purple,J. Crew / Brooks Brothers / Uniqlo / Ted Baker...,Everyday Casual / Date night/Night out,Marketing,1,I want to save money / I need more variety in ...,0
1,Ronald P. Taylor,47,2022/5/5,"Search engine (Google, Yahoo, etc.)",0,Pink / Purple / Yellow / Orange,J. Crew,Everyday Casual / Date night/Night out,Print manager / IT technical Support,1,I want to save money / I need personal stylist...,1
2,Daniel Grance,42,2022/5/6,"Search engine (Google, Yahoo, etc.)",1,Cream / Yellow / Red,LuluLemon / Vans / Vince / Theory / Hugo Boss ...,Everyday Casual / Date night/Night out / Work ...,Financial Advisor,1,I need personal stylist advice / I need more v...,1

In [6]:
# 18 – 24 =>0
# 25 – 34 =>1
# 35 – 44 =>2
# 45 – 54 =>3
# 55 – 64 =>4

In [15]:
quiz.age = pd.to_numeric(quiz.age)

In [16]:
(quiz.age).dtype

dtype('int64')

In [21]:
# # quiz.age[quiz.age <= 24] = 0
# quiz.age[(quiz.age >= 25) & (quiz.age <= 34)] = 1
# quiz.age[(quiz.age >=35) & (quiz.age <= 44)] = 2
# quiz.age[(quiz.age >=45) & (quiz.age <= 55)] = 3
# quiz.age[(quiz.age >=55) & (quiz.age <= 64) ] = 4

In [19]:
# quiz.dtypes
quiz.age.unique()

array([2, 3, 1, 0], dtype=int64)

In [26]:
quiz['acquisition source'].unique()

array(['Others', 'Search engine (Google, Yahoo, etc.)', 'Friend/ Family',
       'Email', 'News/ Blog/ Online articles',
       'Facebook / Friend/ Family', 'Twitter',
       'Others / Search engine (Google, Yahoo, etc.)', 'Clubhouse',
       'Facebook',
       'News/ Blog/ Online articles / Search engine (Google, Yahoo, etc.)'],
      dtype=object)

In [36]:
# delete multiple choices ex: others/ Search engine (Google, Yahoo, etc.) => Search engine (Google, Yahoo, etc.)
clean_stylequiz = pd.read_csv('clean_stylequiz_taelor.csv')

In [43]:
clean_stylequiz = clean_stylequiz.drop('Unnamed: 0', axis = 1)
clean_stylequiz.head(5)

,name,age,subscribe_date,acquisition source,newstyle,color,brands,occasions,occupation,subscribe for yourself,motivation,call
0,Mike,2,2022/5/4,Others,1,Metallic / Purple,J. Crew / Brooks Brothers / Uniqlo / Ted Baker...,Everyday Casual / Date night/Night out,Marketing,1,I want to save money / I need more variety in ...,0
1,Ronald P. Taylor,3,2022/5/5,"Search engine (Google, Yahoo, etc.)",0,Pink / Purple / Yellow / Orange,J. Crew,Everyday Casual / Date night/Night out,Print manager / IT technical Support,1,I want to save money / I need personal stylist...,1
2,Daniel Grance,2,2022/5/6,"Search engine (Google, Yahoo, etc.)",1,Cream / Yellow / Red,LuluLemon / Vans / Vince / Theory / Hugo Boss ...,Everyday Casual / Date night/Night out / Work ...,Financial Advisor,1,I need personal stylist advice / I need more v...,1
3,Rishin Shah,1,2022/5/9,Friend/ Family,1,I am open to all colors!,LuluLemon / Rag & Bone / Zara / J. Crew / Bro...,Everyday Casual / Date night/Night out,Crypto Trader at Coinbase,1,I need personal stylist advice / I need more v...,1
4,Ana Garcia,1,2022/5/9,"Search engine (Google, Yahoo, etc.)",1,Metallic / Yellow / Orange,Vince / Theory / Rag & Bone / Hugo Boss / Ted ...,Work in the office,Loan Officer,0,I need personal stylist advice / I need more v...,1

In [44]:
clean_stylequiz.iloc[clean_stylequiz['acquisition source'] == 'News/ Blog/ Online articles ',:] = 'News/ Blog/ Online articles'

In [46]:
clean_stylequiz.iloc[clean_stylequiz['acquisition source'] == 'Facebook / Friend/ Family',:] = 'socail_media'
clean_stylequiz['acquisition source'].value_counts()

Search engine (Google, Yahoo, etc.)    17
Friend/ Family                         11
News/ Blog/ Online articles             9
Others                                  5
Facebook                                1
Twitter                                 1
Clubhouse                               1
Email                                   1
socail_media                            1
Name: acquisition source, dtype: int64

In [31]:
# clean_stylequiz['acquisition source'].value_counts()
clean_stylequiz['acquisition source'].unique()

array(['Others', 'Search engine (Google, Yahoo, etc.)', 'Friend/ Family',
       'Email', 'News/ Blog/ Online articles', 'Twitter', 'Clubhouse',
       'Facebook / Friend/ Family', 'Facebook'], dtype=object)

In [47]:
#因為社群媒體 FB Titter clubhouse email人數少 合併成 socail_media
clean_stylequiz.iloc[(clean_stylequiz['acquisition source'] == 'Email') | 
                     (clean_stylequiz['acquisition source'] == 'Facebook') |
                     (clean_stylequiz['acquisition source'] == 'Twitter') |
                     (clean_stylequiz['acquisition source'] == 'Clubhouse') ,:] = 'socail_media'

In [50]:
clean_stylequiz['acquisition source'].value_counts()

Search engine (Google, Yahoo, etc.)    17
Friend/ Family                         11
News/ Blog/ Online articles             9
Others                                  5
socail_media                            5
Name: acquisition source, dtype: int64

In [53]:
clean_stylequiz.to_csv('Desktop/stylequiz_cleaned.csv',index=False)

In [56]:
clean_stylequiz.head()

,name,age,subscribe_date,acquisition source,newstyle,color,brands,occasions,occupation,subscribe for yourself,motivation,call
0,Mike,2,2022/5/4,Others,1,Metallic / Purple,J. Crew / Brooks Brothers / Uniqlo / Ted Baker...,Everyday Casual / Date night/Night out,Marketing,1,I want to save money / I need more variety in ...,0
1,Ronald P. Taylor,3,2022/5/5,"Search engine (Google, Yahoo, etc.)",0,Pink / Purple / Yellow / Orange,J. Crew,Everyday Casual / Date night/Night out,Print manager / IT technical Support,1,I want to save money / I need personal stylist...,1
2,Daniel Grance,2,2022/5/6,"Search engine (Google, Yahoo, etc.)",1,Cream / Yellow / Red,LuluLemon / Vans / Vince / Theory / Hugo Boss ...,Everyday Casual / Date night/Night out / Work ...,Financial Advisor,1,I need personal stylist advice / I need more v...,1
3,Rishin Shah,1,2022/5/9,Friend/ Family,1,I am open to all colors!,LuluLemon / Rag & Bone / Zara / J. Crew / Bro...,Everyday Casual / Date night/Night out,Crypto Trader at Coinbase,1,I need personal stylist advice / I need more v...,1
4,Ana Garcia,1,2022/5/9,"Search engine (Google, Yahoo, etc.)",1,Metallic / Yellow / Orange,Vince / Theory / Rag & Bone / Hugo Boss / Ted ...,Work in the office,Loan Officer,0,I need personal stylist advice / I need more v...,1